<section class="current-special-section section bg-image" style="background-image:url('{{site.url}}/wp-content/uploads/2024/02/woman-inviting-man-house-with-tools-1-1.png')">
	<div class="container">
		<div class="section-title">
			<h2>MESA's CURRENT SPECIALS</h2>
			<p>Use a coupon with your service and save more. See our current specials<br>and get the best deal. Act Fast and Save More with These Discounts!</p>
		</div>
		<div class="current-offer-cards">
			<div class="row">
				<div class="col-lg-4">
					<div class="item-wrapper">
						<div class="item">
							<img src="{{site.url}}/wp-content/uploads/2024/02/image_39-removebg-preview-2.png" alt="Offer">
							<h3>Get a Tankless Water Heater</h3>
							<span>$500 OFF</span>
							<p>Endless hot water & no more cold showers. No arguments, save money!</p>
							<a class="downloadLink" href="{{site.url}}/wp-content/uploads/2024/02/Tankless-water-heater-coupon.png">GET COUPON</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="item-wrapper">
						<div class="item">
							<img src="{{site.url}}/wp-content/uploads/2024/02/Frame-28747.png" alt="Offer">
							<h3>New Installs</h3>
							<span>$500 OFF</span>
							<ul>
								<li>Furnace</li>
								<li>Air Conditioner</li>
								<li>Boiler</li>
							</ul>
							<a class="downloadLink" href="{{site.url}}/wp-content/uploads/2024/02/New-Installs-Coupon.png">GET COUPON</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="item-wrapper">
						<div class="item">
							<img src="{{site.url}}/wp-content/uploads/2024/02/image_39-removebg-preview-2.png" alt="Offer">
							<h3>Water Heaters</h3>
							<span>$100 OFF</span>
								<ul>
									<li>50 Gallon</li>	
									<li>40 Gallon</li>	
								</ul>
							<a class="downloadLink" href="{{site.url}}/wp-content/uploads/2024/02/Water-Heater-Coupons.png">GET COUPON</a>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>