<section class="section">
	<div class="container">
		<div class="section-title dark">
			<h2>{{post.discover_our_services_title}}</h2>
		</div>
		<div class="discover-our-services-wrapper">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<img src="{{site.url}}/wp-content/uploads/2024/02/draining-cleaning-repairs.png" alt="Drain Cleaning & Repairs">
						<div class="item-content">
							<h3>Drain Cleaning & Repairs</h3>
							<p>You have Draining issues? Drains of all kinds! Sinks, Bathrooms, Showers and Bathtubs. We cut roots, clear all kinds of blockages. We also replace drains and complete sewer lines. If you have a drain issue, We are there for you.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<img src="{{site.url}}/wp-content/uploads/2024/02/gas-line-services.png" alt="Gas Line Services">
						<div class="item-content">
							<h3>Gas Line Services</h3>
							<p>Connecting, Disconnecting, installing and testing–We do it all! Do you want an outside gas grill or fireplace hooked up? We can do that too! Please give us a call!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<img src="{{site.url}}/wp-content/uploads/2024/02/boilers.png" alt="Boilers">
						<div class="item-content">
							<h3>Boilers</h3>
							<p>We do all kinds of Boilers. We know it is hard to find reliable Boiler companies. That is why we stand by our work and have some of the best Boiler techs available. Call us for any Boiler issues or if you want a quote for a new Boiler!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<img src="{{site.url}}/wp-content/uploads/2024/02/remodelling-services.png" alt="Remodeling Services">
						<div class="item-content">
							<h3>Remodeling Services</h3>
							<p>Want to remodel your bath, kitchen, basement? We can move, install, modify any kind of residential plumbing needed. We LOVE remodels! Call us for a free quote.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<img src="{{site.url}}/wp-content/uploads/2024/02/plumbing-services.png" alt="Plumbing Services">
						<div class="item-content">
							<h3>Plumbing Services</h3>
							<p>Water Heaters, Tankless Water Heaters. Toilet repair and install, Remodels, Drain Cleaning, Kitchen and Bath Plumbing. Mesa is there for you. Call us!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<img src="{{site.url}}/wp-content/uploads/2024/02/heating-cooling.png" alt="Heating and cooling">
						<div class="item-content">
							<h3>Heating & Cooling</h3>
							<p>If you are hot or cold and don’t want to be, Call us! Furnaces, ACs, Minisplits, Swamp Coolers, Humidifiers, Indoor Air Quality… The list goes on. We can take care of it. Call Mesa!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>