<section class="section">
	<div class="container">
		<div class="section-title dark">
			<h2>Expert Plumbing Solutions,<br> Perfected Over 40 Years</h2>
		</div>
		<div class="expertise-cards">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<div class="icon">
							<img src="{{site.url}}/wp-content/uploads/2024/02/expertise-3.png" alt="Decades of Experience">
						</div>
						<h3>Decades of Experience</h3>
						<p>With over 40 years in the business, we bring unparalleled expertise to every job.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<div class="icon">
							<img src="{{site.url}}/wp-content/uploads/2024/02/expertise-4.png" alt="Decades of Experience">
						</div>
						<h3>Qualified Team</h3>
						<p>Our team includes 3 Master Plumbers, ensuring top-quality service and knowledge.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<div class="icon">
							<img src="{{site.url}}/wp-content/uploads/2024/02/expertise-5.png" alt="Decades of Experience">
						</div>
						<h3>Customer-Centric Approach</h3>
						<p>We prioritize your needs and satisfaction, tailoring solutions to your unique requirements.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<div class="icon">
							<img src="{{site.url}}/wp-content/uploads/2024/02/expertise-6.png" alt="Decades of Experience">
						</div>
						<h3>24/7 Emergency Services</h3>
						<p>Available around the clock for any urgent plumbing needs.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<div class="icon">
							<img src="{{site.url}}/wp-content/uploads/2024/02/expertise-1.png" alt="Decades of Experience">
						</div>
						<h3>Commitment to Quality</h3>
						<p>We use only the best materials and practices, ensuring long-lasting results.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="item">
						<div class="icon">
							<img src="{{site.url}}/wp-content/uploads/2024/02/expertise-2.png" alt="Decades of Experience">
						</div>
						<h3>Local Community Presence</h3>
						<p>A trusted part of the community for decades, we understand local needs and regulations.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>