<section class="section">
	<div class="container">
		<div class="section-title dark">
			<h2>{{post.feature_brands_title}}</h2>
			<div class="featured-brand-images">
				<img src="{{post.featured_brands_image_1}}" alt="{{post.featured_brands_image_1.alt}}">
				<img src="{{post.featured_brands_image_2}}" alt="{{post.featured_brands_image_2.alt}}">
				<img src="{{post.featured_brands_image_3}}" alt="{{post.featured_brands_image_3.alt}}">
				<img src="{{post.featured_brands_image_4}}" alt="{{post.featured_brands_image_4.alt}}">
				<img src="{{post.featured_brands_image_5}}" alt="{{post.featured_brands_image_5.alt}}">
			</div>
		</div>
	</div>
</section>