<section class="home-hero-section section p-bt-0 bg-image" style="background-image:url('{{post.home_hero_image}}')">
	<div class="container">
		<div class="hero-content-wrapper">
			<div class="hero-content-left">
				<h1>{{post.home_hero_title}}</h1>
				<p>{{post.home_hero_tagline}}</p>
				<ul>
					{% if post.hero_list_items %}
						{% for item in post.hero_list_items %}	
							<li><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6293 0.334832C16.3232 0.164502 15.9866 0.0561826 15.6386 0.0160686C15.2906 -0.0240454 14.9381 0.00483247 14.6013 0.101051C14.2644 0.19727 13.9499 0.358942 13.6756 0.576821C13.4013 0.794701 13.1726 1.06451 13.0027 1.37083L8.05201 10.2802L5.21868 7.44683C4.97269 7.19214 4.67844 6.98899 4.35309 6.84923C4.02775 6.70947 3.67783 6.63591 3.32375 6.63283C2.96967 6.62975 2.61853 6.69723 2.2908 6.83131C1.96308 6.96539 1.66534 7.1634 1.41496 7.41378C1.16458 7.66416 0.966571 7.9619 0.832489 8.28962C0.698406 8.61734 0.630935 8.96849 0.634012 9.32257C0.637089 9.67665 0.710652 10.0266 0.850409 10.3519C0.990167 10.6773 1.19332 10.9715 1.44801 11.2175L6.78135 16.5508C7.28535 17.0562 7.96535 17.3335 8.66668 17.3335L9.03601 17.3068C9.44475 17.2497 9.83463 17.0984 10.175 16.8649C10.5153 16.6315 10.7968 16.3222 10.9973 15.9615L17.664 3.9615C17.8342 3.65543 17.9425 3.31884 17.9826 2.97094C18.0227 2.62304 17.9939 2.27064 17.8978 1.93387C17.8017 1.5971 17.6403 1.28255 17.4226 1.00819C17.205 0.733822 16.9354 0.505015 16.6293 0.334832Z" fill="#F9A602"/></svg>
								{{ item.hero_list_item }}
							</li>
						{% endfor %}
					{% endif %}
				</ul>
				<div class="hero-btns">
					<a href="tel:{{post.contact_number}}" title="Call us"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><mask id="mask0_2508_1014" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24"><rect x="0.5" width="24" height="24" fill="#D9D9D9"/></mask><g mask="url(#mask0_2508_1014)"><path d="M19.5 11.95C19.5 10 18.8208 8.34585 17.4625 6.98751C16.1042 5.62918 14.45 4.95001 12.5 4.95001V2.95001C13.75 2.95001 14.9208 3.18751 16.0125 3.66251C17.1042 4.13751 18.0542 4.77918 18.8625 5.58751C19.6708 6.39585 20.3125 7.34585 20.7875 8.43751C21.2625 9.52918 21.5 10.7 21.5 11.95H19.5ZM15.5 11.95C15.5 11.1167 15.2083 10.4083 14.625 9.82501C14.0417 9.24168 13.3333 8.95001 12.5 8.95001V6.95001C13.8833 6.95001 15.0625 7.43751 16.0375 8.41251C17.0125 9.38751 17.5 10.5667 17.5 11.95H15.5ZM20.45 21C18.3667 21 16.3083 20.5458 14.275 19.6375C12.2417 18.7292 10.3917 17.4417 8.725 15.775C7.05833 14.1083 5.77083 12.2583 4.8625 10.225C3.95417 8.19168 3.5 6.13335 3.5 4.05001C3.5 3.75001 3.6 3.50001 3.8 3.30001C4 3.10001 4.25 3.00001 4.55 3.00001H8.6C8.83333 3.00001 9.04167 3.07918 9.225 3.23751C9.40833 3.39585 9.51667 3.58335 9.55 3.80001L10.2 7.30001C10.2333 7.56668 10.225 7.79168 10.175 7.97501C10.125 8.15835 10.0333 8.31668 9.9 8.45001L7.475 10.9C7.80833 11.5167 8.20417 12.1125 8.6625 12.6875C9.12083 13.2625 9.625 13.8167 10.175 14.35C10.6917 14.8667 11.2333 15.3458 11.8 15.7875C12.3667 16.2292 12.9667 16.6333 13.6 17L15.95 14.65C16.1 14.5 16.2958 14.3875 16.5375 14.3125C16.7792 14.2375 17.0167 14.2167 17.25 14.25L20.7 14.95C20.9333 15.0167 21.125 15.1375 21.275 15.3125C21.425 15.4875 21.5 15.6833 21.5 15.9V19.95C21.5 20.25 21.4 20.5 21.2 20.7C21 20.9 20.75 21 20.45 21Z" fill="white"/></g></svg> CALL US</a>
					<a href="#" title="Schedule now"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(#clip0_2508_907)"><path d="M16 3C16.2652 3 16.5196 3.10536 16.7071 3.29289C16.8946 3.48043 17 3.73478 17 4V5H19C19.5046 4.99984 19.9906 5.19041 20.3605 5.5335C20.7305 5.87659 20.9572 6.34684 20.995 6.85L21 7V19C21.0002 19.5046 20.8096 19.9906 20.4665 20.3605C20.1234 20.7305 19.6532 20.9572 19.15 20.995L19 21H5C4.49542 21.0002 4.00943 20.8096 3.63945 20.4665C3.26947 20.1234 3.04284 19.6532 3.005 19.15L3 19V7C2.99984 6.49542 3.19041 6.00943 3.5335 5.63945C3.87659 5.26947 4.34684 5.04284 4.85 5.005L5 5H7V4C7 3.73478 7.10536 3.48043 7.29289 3.29289C7.48043 3.10536 7.73478 3 8 3C8.26522 3 8.51957 3.10536 8.70711 3.29289C8.89464 3.48043 9 3.73478 9 4V5H15V4C15 3.73478 15.1054 3.48043 15.2929 3.29289C15.4804 3.10536 15.7348 3 16 3ZM14.824 9.379L10.582 13.621L9.167 12.207C8.9784 12.0248 8.7258 11.924 8.4636 11.9263C8.2014 11.9286 7.95059 12.0338 7.76518 12.2192C7.57977 12.4046 7.4746 12.6554 7.47233 12.9176C7.47005 13.1798 7.57084 13.4324 7.753 13.621L9.867 15.736C9.9608 15.8299 10.0722 15.9044 10.1948 15.9552C10.3174 16.006 10.4488 16.0321 10.5815 16.0321C10.7142 16.0321 10.8456 16.006 10.9682 15.9552C11.0908 15.9044 11.2022 15.8299 11.296 15.736L16.238 10.793C16.3335 10.7008 16.4097 10.5904 16.4621 10.4684C16.5145 10.3464 16.5421 10.2152 16.5433 10.0824C16.5444 9.94962 16.5191 9.81794 16.4688 9.69505C16.4185 9.57215 16.3443 9.4605 16.2504 9.3666C16.1565 9.27271 16.0449 9.19846 15.922 9.14818C15.7991 9.0979 15.6674 9.0726 15.5346 9.07375C15.4018 9.0749 15.2706 9.10249 15.1486 9.1549C15.0266 9.20731 14.9162 9.28349 14.824 9.379Z" fill="white"/></g><defs><clipPath id="clip0_2508_907"><rect width="24" height="24" fill="white"/></clipPath></defs></svg> Schedule Now</a>
				</div>
			</div>
		</div>
	</div>
	{% if post.show_van %}
	<div class="hero-overlay-image">
		<img src="{{site.url}}/wp-content/uploads/2024/02/VAN-removebg-preview-1.png" alt="Van Hero Image">
	</div>
	{% endif %}
	<div class="yellow-bg">
	</div>
</section>