<section class="we-are-reasonable-section section">
	<div class="container">
		<div class="contents-wrapper">
			<div class="row">
			<div class="col-lg-4">
				<div class="overlay-image">
					<img src="{{post.we_are_reasonable_image}}" alt="{{post.we_are_reasonable_image.alt}}">
				</div>					
			</div>
			<div class="col-lg-8">
				<h2>{{post.we_are_reasonable_title}}</h2>
				<div class="points">
					<div class="item">
						<h3>{{post.we_are_reasonable_point_1}}</h3>
						<p>{{post.we_are_reasonable_text_1}}</p>
					</div>
					<div class="item">
						<h3>{{post.we_are_reasonable_point_2}}</h3>
						<p>{{post.we_are_reasonable_text_2}}</p>
					</div>
					<div class="item">
						<h3>{{post.we_are_reasonable_point_3}}</h3>
						<p>{{post.we_are_reasonable_text_3}}</p>
					</div>
				</div>
				<div class="we-are-btn">
					<a href="{{post.join_the_team_link.url}}" title="{{post.join_the_team_link.title}} ">
						<svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" viewBox="0 0 26 16" fill="none"><path d="M19.125 14.4167V15.0972H6.875V14.4167C6.875 12.7922 7.52031 11.2343 8.66897 10.0856C9.81763 8.93698 11.3755 8.29167 13 8.29167C14.6245 8.29167 16.1824 8.93698 17.331 10.0856C18.4797 11.2343 19.125 12.7922 19.125 14.4167ZM13 6.93056C13.673 6.93056 14.3309 6.73099 14.8905 6.35708C15.4501 5.98318 15.8862 5.45174 16.1438 4.82997C16.4013 4.20819 16.4687 3.524 16.3374 2.86393C16.2061 2.20386 15.882 1.59754 15.4061 1.12165C14.9302 0.645765 14.3239 0.321682 13.6638 0.190385C13.0038 0.059088 12.3196 0.126474 11.6978 0.384023C11.076 0.641571 10.5446 1.07771 10.1707 1.6373C9.79679 2.19688 9.59722 2.85477 9.59722 3.52778C9.59722 4.43025 9.95573 5.29576 10.5939 5.93391C11.232 6.57205 12.0975 6.93056 13 6.93056ZM5.51389 9.65278C4.25043 9.65278 3.03871 10.1547 2.14531 11.0481C1.25191 11.9415 0.75 13.1532 0.75 14.4167L0.75 15.0972H5.51389V14.4167C5.5119 12.786 6.04239 11.1993 7.02472 9.89778C6.53741 9.73602 6.02735 9.65331 5.51389 9.65278ZM5.51389 8.29167C6.05229 8.29167 6.57861 8.13201 7.02627 7.83289C7.47394 7.53377 7.82286 7.10862 8.02889 6.6112C8.23493 6.11377 8.28884 5.56643 8.1838 5.03837C8.07877 4.51031 7.8195 4.02525 7.43879 3.64454C7.05808 3.26383 6.57303 3.00457 6.04497 2.89953C5.51691 2.79449 4.96956 2.8484 4.47214 3.05444C3.97472 3.26048 3.54957 3.60939 3.25044 4.05706C2.95132 4.50473 2.79167 5.03104 2.79167 5.56945C2.79167 6.29142 3.07847 6.98383 3.58899 7.49435C4.0995 8.00486 4.79191 8.29167 5.51389 8.29167ZM20.4861 9.65278C19.9727 9.65331 19.4626 9.73602 18.9753 9.89778C19.9576 11.1993 20.4881 12.786 20.4861 14.4167V15.0972H25.25V14.4167C25.25 13.1532 24.7481 11.9415 23.8547 11.0481C22.9613 10.1547 21.7496 9.65278 20.4861 9.65278ZM20.4861 8.29167C21.0245 8.29167 21.5508 8.13201 21.9985 7.83289C22.4462 7.53377 22.7951 7.10862 23.0011 6.6112C23.2072 6.11377 23.2611 5.56643 23.156 5.03837C23.051 4.51031 22.7917 4.02525 22.411 3.64454C22.0303 3.26383 21.5452 3.00457 21.0172 2.89953C20.4891 2.79449 19.9418 2.8484 19.4444 3.05444C18.9469 3.26048 18.5218 3.60939 18.2227 4.05706C17.9235 4.50473 17.7639 5.03104 17.7639 5.56945C17.7639 6.29142 18.0507 6.98383 18.5612 7.49435C19.0717 8.00486 19.7641 8.29167 20.4861 8.29167Z" fill="white"/></svg>{{post.join_the_team_link.title}} 
					</a>
				</div>
			</div>
		</div>
	</div>
</section>